.tarjeta-producto {
    background: #FFF;
    padding: 4vmin;
    box-shadow: var(--sombra);
    margin: 10vmin 0;
    border-radius: 3vmin;
    width: 30%;
}

.tarjeta-producto:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.tarjeta-producto img {
    width: 60vmin;
    height: 20vmin;
}

.nombre-producto {
    font-weight: bold;
    font-size: 3vmin;
}

.descripcion-producto {
    font-size: 1.8vmin;
}

.precio-producto {
    font-weight: bold;
    color: var(--azul);
}

@media screen and (max-width: 500px) {
    .nombre-producto {
        font-size: 4vmin;
        padding: 3vmin;
    }

    .descripcion-producto {
        font-size: 3vmin;
    }

    .tarjeta-producto {
        width: 100%
    }

    .tarjeta-producto img {
        width: 50%;
    }
}