.tarjeta-producto {
    background: #FFF;
    padding: 4vmin;
    box-shadow: var(--sombra);
    margin: 10vmin 0;
    border-radius: 3vmin;
}

.link-producto {
    color: black;
}

.link-producto:hover {
    color: black;
    text-decoration: none;
}

.tarjeta-producto:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.link-producto img {
    max-height: 20vmin;
}

.nombre-producto {
    font-weight: bold;
    font-size: 3vmin;
    padding-top: 3vmin;
}

.descripcion-producto {
    font-size: 1.8vmin;
}

.precio-producto {
    font-weight: bold;
    color: var(--azul);
}

.btn-carrito {
    width: 100%;
    font-size: 2vmin;
    /* background: rgb(87, 172, 87); */
}

@media screen and (max-width: 500px) {
    .nombre-producto {
        font-size: 6vmin;
        padding: 3vmin;
    }

    .descripcion-producto {
        font-size: 4vmin;
        text-align: center;
    }

    .tarjeta-producto {
        width: 100%
    }

    .link-producto img {
        /* width: 100%; */
        height: 80vmin;
    }

    .precio-producto {
        font-size: 6vmin;
    }

    .btn-carrito {
        font-size: 6vmin;
    }
}