.contenedor-login {
    height: 100vh;
    background-color: #F9F9F9;
}

.form-login {
    border-radius: 3rem;
    font-size: 2vmin;
}

.form-login img {
    width: 20vmin;
}

.form-login p {
    font-weight: 300;
    color: #ACAEB1;
}

.form-login :not(input[type="submit"]) {
    font-weight: 300;
    color: #9a9b9c;
}

.enlace-login {
    color: #2C85DE;
}

.form-reg {
    padding-bottom: 5vmin;
}