.contenedor-dashboard {
    width: 98%;
    height: 94vmin;
    margin: 3vmin auto;
}

.logo-dash {
    width: 25vmin;
}

.usuario-dash {
    width: 5vmin;
    height: 5vmin;
    border-radius: 50%;
    border: solid 1px #6b6c6d;
}

.seccion-usuario p {
    padding: 0 1vmin;
}

.dash-contenido {
    width: 90%;
    margin: 0 auto;
}

.menu-dash ul li {
    padding: 0;
    margin: 0;
}

.menu-dash ul {
    padding: 0;
}

.bienvenida-usuario {
    background: #F9F9F9;
    border: 1px solid #DFDBDB;
    padding: 0 3vmin;
    width: 50%;
    border-radius: 2vmin;
}

.bienvenida-usuario h4 {
    font-weight: 500;
}

.girl-flat {
    width: 40vmin;
}

.productos-dash {
    margin-top: 7vmin;
    width: 100%;
}
.producto-dash {
    background: #4F80E2;
    color: #FFF;
    width: 30%;
    min-height: 30vmin;
    padding: 2vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2vmin;
}