.container-info-user {
    background: #F7F7F9;
    border-radius: 4vmin;
    padding-bottom: 2vmin;
}

.info-user {
    font-size: 2vmin;
}

.dispositivos {
    background: #FFF;
    padding: 3vmin 3vmin 0 3vmin;
    border-radius: 4vmin;
}

.li-dis {
    margin: 0 0.5vmin 0 0.5vmin;
}

.li-dis:hover {
    text-decoration: none;
}

.disp, .icono-disp {
    color: #657a8b;
    padding: 1vmin 3vmin;
    border-radius: 2vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
}

.disp {
    font-size: 4vmin;
}

.icono-disp {
    font-size: 4vmin;
    box-shadow: var(--sombra);
}

.disp:hover {
    text-decoration: none;
    color: #657a8b;
}

.nombre-disp {
    font-size: 1.8vmin;
    color: #000;
    margin-top: 1vmin;
}

.rosa {
    background: #FFE0E0;
}

.verde {
    background: #E0FFDE;
}

.azul {
    background: #D8F6FF;
}

.gris {
    background: #EEF2F3;
}

.container-info-main {
    padding: 3vmin;
    border-radius: 4vmin;
    background: #F4F9FD;
    min-height: 100%;
    color: #657a8b;
}

.alimen, .cerradura, .alarma, .welcome {
    background: #FFF;
    border-radius: 4vmin;
    padding: 1.5vmin;
}

.welcome, .datos-disp {
    width: 100%;
    min-height: 48%;
}

.frase{
    font-size: 2vmin;
}

.alimen-cerradura, .alarma {
    width: 47%;
}


.alimen, .cerradura {
    min-height: 48%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dato-disp {
    font-size: 5vmin;
    font-weight: 700;
}

@media (max-width: 576px) {
    .alimen-cerradura, .alarma {
        width: 100%;
        margin-top: 2vmin;
    }

    .cerradura {
        margin-top: 2vmin;
    }
}