.navbar {
    background: #FFF;
    box-shadow: none;
}

.activo {
    box-shadow: var(--sombra);
}

.logo-menu {
    width: 23vmin;
    height: 6vmin;
}

.navbar-user {
    color: var(--azul);
}

.navbar-nav li:last-of-type {
    margin-right: 5vmin;
}