.contacto {
    background: rgb(225,242,252);
    background: linear-gradient(180deg, rgba(225,242,252,1) 0%, rgba(249,249,249,1) 95%, rgba(249,249,249,1) 100%);
    padding-top: 10vmin;
}

.info {
    padding: 3rem;
    color: white;
    background: var(--azul);
    box-shadow: var(--sombra);
    border-radius: 3rem 0 0 0;
}

.bubbles {
    background: var(--azul);
    box-shadow: var(--sombra);
    border-radius: 0 0 0 3rem;
}

.bubbles img {
    border-radius: 0 0 0 3rem;
}

@media screen and (max-width: 1200px) {
    .info-formulario {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .info-formulario {
        flex-direction: column;
    }

    .info {
        border-radius: 3rem 3rem 0 0;
        text-align: center;
    }

    .info-bubbles {
        border-radius: 3rem 3rem 0 0;
    }

    .bubbles {
        display: none;
    }

    .form {
        border-radius: 0 0 3rem 3rem;
        padding: 3rem;
    }
}