.data-card {
    padding: 3vmin;
    border-radius: 2vmin;
    box-shadow: var(--sombra);
    margin-top: 5vmin;
    color: #657a8b;
}

.titulo-prototipo {
    font-size: 5vmin;
    font-weight: 700;
    color: var(--azul);
}

.img-prototipo {
    max-height: 20vmin;
}

.icono-prototipo {
    font-size: 10vmin;
    margin-right: 4vmin;
}

.dc-prototipo {
    font-size: 2vmin;
    display: flex;
    flex-direction: column;
}

table {
    border-radius: 2vmin;
    overflow-y: scroll;
}

@media (max-width: 576px) {
    .img-prototipo {
        max-height: 40vmin;
    }

    .dc-prototipo {
        font-size: 8vmin;
    }
}

.card {
    margin-top: 10vmin;
}

.setting-header {
    font-size: 4vmin;
    color: #657a8b;
}

.setting-header svg {
    margin-right: 2vmin;
}

@media (max-width: 576px) {
    .data-card {
        padding: 6vmin;
    }

    .icono-prototipo {
        font-size: 15vmin;
        margin-right: 6vmin;
    }

    .btn-servir {
        font-size: 10vmin;
    }
}