/* Variables */
:root {
    --azul: #3E54D3;
    --sombra: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Estilos Generales */

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    width: 80%;
    margin: 0 auto;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 3.4rem;
    margin: 0;
    padding: 0;
}

h3{
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

h4{
    font-size: 2.6rem;
}

.centrar-texto{
    text-align: center;
}

.titulo {
    font-weight: bold;
    font-size: 5rem;
}

@media screen and (max-width: 1200px) {
    .contenedor {
        width: 95%;
    }

    .titulo {
        font-size: 6vmin;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .titulo {
        font-size: 9vmin;
    }

    h3 {
        text-align: center;
    }
}


/* Utilidades */
.top-5 {
    margin-top: 5rem;
}

.top-3 {
    margin-top: 3rem;
}

.texto-azul {
    color: var(--azul);
}

/* Botones */
.boton-azul, .boton-blanco {
    padding: 0.5rem 2rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 0.8rem;
    border: none;
}

.boton-azul {
    background: var(--azul);
}

.boton-blanco {
    background: #FFF;
    color: var(--azul);
    padding: 1.5rem 3rem;
}

@media (max-width: 1200px) {
    .boton-azul, .boton-blanco {
        font-size: 2vmin;
    }
}

@media (max-width: 500px) {
    .boton-azul, .boton-blanco {
        font-size: 4vmin;
    }

    .btn-login {
        font-size: 3vmin;
        text-align: center;
        padding: 1rem;
    }
}
/* Barra de Menú */
.contenedor-menu {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: #FFF;
    box-shadow: none;
}

.contenedor-menu.activo {
    box-shadow: var(--sombra);
}

.barra-menu {
    width: 80%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    height: 10vh;
}

.enlace-menu {
    display: flex;
    align-items: center;
}

.logo-menu {
    width: 15rem;
    height: 4rem;
}

.opciones-menu {
    display: flex;
}

.opciones-menu, li {
    list-style: none;
    padding: 0 2rem 0 2rem;
    font-weight: 300;
}

.opciones-menu a {
    text-decoration: none;
    color: #3C4048;
}

.menu-movil, .menu-lateral {
    display: none;
}

/* Menú versión móvil */
@media screen and (max-width: 1200px) {
    
    .opciones-menu, .opciones-menu-lateral {
        display: none;
        margin: 0;
        padding: 0;
    }

    .menu-movil {
        display: block;
        width: 3rem;
    }

    .menu-boton, .menu-boton a {
        display: flex;
        align-items: center;
    }

    .menu-boton a {
        margin-left: 2rem;
    }

    .menu-lateral {
        display: none;
        position: absolute;
        width: 100%;
        background-color: #FFF;
        position: fixed;
        height: 100vh;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -mos-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }

    .mostrar {
        display: block;
    }

    .ocultar {
        display: none;
    }

    .cerrar-menu {
        color: black;
        display: flex;
        justify-content: flex-end;
        padding: 5rem 5rem 0 0;
    }

    .opciones-menu-lateral {
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .opciones-menu-lateral li {
        padding: 3rem;
    }

    .opciones-menu-lateral a {
        text-decoration: none;
        font-size: 4vmin;
        color: rgb(71, 63, 63);
    }

    .close {
        width: 4rem;
    }
}

@media screen and (max-width: 500px) {
    .barra-menu {
        width: 95%;
    }
}
/* Sección 1 header */
header {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header p{
    line-height: 0.1;
    font-weight: 300;
    font-size: 2rem;
}

header img {
    border-radius: 1rem;
    box-shadow: var(--sombra);
}

/* Header versión móvil */
@media screen and (max-width: 500px) { 
    header {
        height: 100vh;
        width: 100%;
    }
    header p{
        line-height: 1;
        font-size: 4vmin;
    }
}
/* Conoce productos */
.conoce-productos {
    background: rgb(77,110,208);
    background: linear-gradient(90deg, rgba(77,110,208,1) 0%, rgba(65,122,222,1) 35%, rgba(52,135,224,1) 100%);
    color: #FFF;
    padding: 5rem 0;
    margin: 10rem 0;
}

.contenedor-conoce-productos {
    display: flex;
    justify-content: space-around; 
}

.titulo-boton-conoce-productos {
    width: 50%;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titulo-boton-conoce-productos .boton-blanco {
    margin-top: 4rem;
}

@media screen and (max-width: 500px) { 
    .contenedor-conoce-productos {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .titulo-boton-conoce-productos {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
/*  Nosotros */
.nosotros {
    background-image: url('../assets/images/background.png');
    height: 100vh;
    background-size: cover;
    display: flex;
}

.nosotros img {
    width: 26rem;
    height: 42rem;
}

.workflow-items {
    margin-top: 10vh;
}

.workflow-slide {
    margin-top: 20vh;
}

.contenedor-nosotros {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    width: 50%;
    text-align: center;
    overflow: hidden;
}

/* Nosotros versión tablet */
@media screen and (max-width: 1200px) {
    .nosotros {
        height: 80vh;
    }

    .nosotros img {
        width: 15rem;
        height: 30rem;
    }

    .contenedor-nosotros {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .nosotros img {
        display: none;
    }
}

/* Sección contacto */
.contacto {
    background: rgb(225,242,252);
    background: linear-gradient(180deg, rgba(225,242,252,1) 0%, rgba(249,249,249,1) 95%, rgba(249,249,249,1) 100%);
    height: 100vh;
}

.contenedor-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.info-formulario {
    display: flex;
}

.info-bubbles {
    display: flex;
    flex-direction: column;
}

.info {
    padding: 3rem;
    color: white;
    background: var(--azul);
    box-shadow: var(--sombra);
    border-radius: 3rem 0 0 0;
}

.bubbles {
    background: var(--azul);
    box-shadow: var(--sombra);
    border-radius: 0 0 0 3rem;
    display: flex;
}

.bubbles img {
    border-radius: 0 0 0 3rem;
}

form {
    padding: 3rem;
    border-radius: 0 3rem 3rem 0;
    box-shadow: var(--sombra);
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    color: #6b6c6d;
}

input[type="text"],
input[type="email"],
textarea {
    display: block;
    width: 30rem;
    margin: 3rem 0;
    padding: 1rem;
    border: none;
    border-bottom: 1px solid #D5CFCF;
    color: #8D8F92;
}

.btn-enviar {
    padding: 1.5rem 6rem;
    margin: 3rem 0;
    text-align: center;
}

/* Contacto versión tablet */
@media screen and (max-width: 1200px) {
    .info-formulario {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .contacto {
        height: 100%;
        padding: 40vmin 0;
    }

    .info-formulario {
        flex-direction: column;
    }

    .info {
        border-radius: 3rem 3rem 0 0;
        text-align: center;
    }

    .bubbles {
        display: none;
    }

    form {
        border-radius: 0 0 3rem 3rem;
    }
}
/* Footer */
footer {
    display: flex;
    flex-direction: column;
}

.footer-logo-redes {
    background: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-redes {
    display: flex;
    justify-content: center;
}

.footer-redes a{
    margin: 2rem;
    background: var(--azul);
    color: #FFF;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo-redes img{
    width: 20rem;
    margin: 1rem;
}

.footer-derechos {
    background: var(--azul);
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    padding: 2rem;
}

/* Login */
