.banner {
    margin-top: 15vmin;
    background: rgb(77,110,208);
    background: linear-gradient(90deg, rgba(77,110,208,1) 0%, rgba(65,122,222,1) 35%, rgba(52,135,224,1) 100%);
}

.cont-banner {
    color: #FFF;
}

.cont-banner p {
    font-size: 3vmin;
    font-weight: 500;
}