.menu-dash {
    width: 7%;
    height: 100%;
    background-color: #3E54D3;
    border-radius: 2vmin;
}

.menu-dash ul li a, .producto-dash .icon{
    font-size: 5vmin;
    color: #FFF;
}

.producto-dash .icon {
    font-size: 8vmin;
    padding: 0;
    margin: 0;
}

.producto-dash p {
    font-size: 3vmin;
}

ul {
    list-style: none;
}

.menu-dash ul li {
    padding: 2vmin 0;
}