/* Variables */
:root {
    --azul: #3E54D3;
    --sombra: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Estilos Generales */
body{
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.btn {
    font-weight: bold;
    color: white;
}

.btn-primary {
    background: var(--azul);
    border: none;
}

.btn-light {
    color: var(--azul);
    border: none;
}

.titulo {
    font-weight: bold;
    font-size: 8vmin;
}

.texto-azul {
    color: var(--azul);
}

/* Formularios */
form {
    padding: 3rem 3rem 0 3rem;
    border-radius: 0 3rem 3rem 0;
    box-shadow: var(--sombra);
    background-color: #FFF;
}

form label {
    color: #6b6c6d;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    display: block;
    width: 60vmin;
    margin: 3vmin 0;
    padding: 2vmin;
    border: none;
    border-bottom: 1px solid #D5CFCF;
    color: #8D8F92;
}
