.opcs {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1007%26quot%3b)' fill='none'%3e%3cpath d='M42.28369156175817 165.06207096928108L199.90869494130288 187.21482051420958 222.06144448623138 29.589817134664855 64.43644110668666 7.437067589736358z' fill='rgba(62%2c 84%2c 211%2c 0.38)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1123.376%2c269.419C1140.388%2c269.48%2c1155.638%2c258.541%2c1163.188%2c243.296C1170.012%2c229.517%2c1165.928%2c213.464%2c1157.437%2c200.645C1149.886%2c189.245%2c1137.018%2c184.119%2c1123.376%2c183.191C1107.389%2c182.104%2c1089.018%2c182.002%2c1080.216%2c195.392C1070.84%2c209.655%2c1075.454%2c228.268%2c1084.051%2c243.014C1092.575%2c257.634%2c1106.453%2c269.359%2c1123.376%2c269.419' fill='rgba(62%2c 84%2c 211%2c 0.38)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1057.323%2c633.385C1083.411%2c631.945%2c1099.938%2c608.939%2c1113.577%2c586.653C1128.13%2c562.874%2c1146.21%2c535.048%2c1132.287%2c510.895C1118.356%2c486.729%2c1085.15%2c487.138%2c1057.323%2c489.069C1033.589%2c490.716%2c1011.448%2c500.258%2c998.448%2c520.183C984.018%2c542.301%2c976.992%2c570.089%2c989.178%2c593.519C1002.193%2c618.543%2c1029.16%2c634.939%2c1057.323%2c633.385' fill='rgba(62%2c 84%2c 211%2c 0.38)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M243.19377376499884 184.8478401520709L378.88532623148944 204.0499330771453 335.9537193063852 92.20927334682372z' fill='rgba(62%2c 84%2c 211%2c 0.38)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1249.1735522039698 369.1896239965787L1099.6115611962218 296.2433669713056 1026.6653041709487 445.80535797905367 1176.2272951786967 518.7516150043268z' fill='rgba(62%2c 84%2c 211%2c 0.38)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M659.431%2c678.954C701.819%2c679.183%2c742.542%2c658.926%2c763.588%2c622.131C784.498%2c585.574%2c781.341%2c540.224%2c759.314%2c504.328C738.278%2c470.047%2c699.645%2c453.158%2c659.431%2c452.39C617.636%2c451.592%2c574.389%2c464.638%2c552.718%2c500.385C530.361%2c537.265%2c535.084%2c583.995%2c557.207%2c621.015C578.741%2c657.05%2c617.453%2c678.727%2c659.431%2c678.954' fill='rgba(62%2c 84%2c 211%2c 0.38)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1007'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.opciones-inicio {
    max-height: 100vh;
}

.opciones-inicio * {
    margin: 2vmin;
}

.opcion-inicio {
    min-height: 30vmin;
    background: var(--azul);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #FFF;
    border-radius: 3vmin;
    box-shadow: var(--sombra);
}

.opcion-inicio:hover {
    transform: scale(1.05);
    color: #FFF;
    text-decoration: none;
}

.icono-inicio {
    font-size: 13vmin;
}