.contenedor-producto {
    padding: 4vmin;
    border-radius: 3vmin;
    min-height: 70vh;
}

.contenedor-producto img {
    width: 50%;
    height: 50%;
}

.lista-caracteristicas li{
    list-style-type: disc;
}

.caracteristicas {
    border: 1px solid #D5CFCF;
    padding: 3vmin;
    border-radius: 2vmin;
    width: 30%;
    font-size: 2vmin;
}

.botones, .botones .btn {
    width: 100%;
    margin-bottom: 3vmin;
}

@media screen and (max-width: 500px) {
    .contenedor-producto {
        box-shadow: none;
        border: none;
        padding: 6vmin;
    }

    .caracteristicas {
        border: none;
        width: 100%;
    }
}