.confirmar-compra {
    padding: 8vmin 0;
    min-height: 40vh;
}

.producto-pagar {
    margin: 3vmin 0;
    color: black;
    border-bottom: 1px solid rgb(243, 243, 243);
}

.producto-pagar:hover {
    color: black;
    text-decoration: none;
}

.producto-pagar img {
    margin-bottom: 3vmin;
}

.pagar .quitar {
    margin: 5vmin;
}

.pagar-vacio {
    height: 50vh;
}

h4 {
    padding: 5vmin;
}